

#title{
    background-color: #ff4c68;
    
    
}

.container-fluid{
    padding: 3% 15% 7%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: black

}

/* NAVBAR */

.navbar {
    padding:0 0 4.5rem;
}
    
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

#navbarNav{
    padding-left: 500px;
}
.nav-item{
    padding: 0 29px;
}


/* DOWNLOAD BUTTONS */

.Download-button{
    margin: 5% 3% 5% 0;
}

/* TITLE IMAGE */
.title-img{
    width:20%;
    transform: rotate(25deg);
    position: absolute;
    right: 15%;;   
}

/* FEATURES */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
}
p{
    
    color: gray;
}

.fas{
    color: #FA4EAB;
    padding: 5%;
}

.fas:hover{
    color: #FFC600;
}

/* Testimonial */

#testimonials{
   
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img{
    border-radius: 100%;
    padding: 5%;
    width: 30%;

}
.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.press-img{
    margin: 20px 20px 50px;
    width: 15%;
}



/* pricing */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-coloumn {
    padding: 3% 2%;
}

#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
    
}

.cta-heading{
    font-family:'Montserrat', sans-serif; 
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    
    text-align: center;
    padding: 7% 15%;
}

.footer-icon{
    
    margin:20px 10px;
    font-size: 2rem;

}



@media(max-width:1028px){
    .title-img{
        position: static;
        transform: rotate(0);
        width: 60%;

    }

    #title{
        text-align: center;
    }


}
